# =========================
# APP
# =========================
NODE_ENV=
PORT=
AUTH_SALT_ROUNDS=
AUTH_SESSION_DURATION_HOURS=

# =========================
# FRONTEND
# =========================
CORS_ORIGINS=

# =========================
# DATABASE
# =========================
DATABASE_URL=""